@font-face {
    font-family: clash;
    src: url('../../public/ClashDisplay-Medium.ttf');
}
.clash{
    font-family: clash;
}
@font-face {
    font-family: clashl;
    src: url('../../public/ClashDisplay-Light.ttf');
}
.clashl{
    font-family: clashl;
}
@font-face {
    font-family: clashb;
    src: url('../../public/ClashDisplay-Bold.ttf');
}
.clashb{
    font-family: clashb;
}


.navBar-second Button:hover{
    background-color: black;
    animation: backwards;
}

Link:hover{
    color: orange;
}

#linkNav:hover{
    color: orange;
    text-decoration: none;
}

#linkNav{
    text-shadow: inset;
}